<div class='container'>

<div class="card-trip">
  <% if @partyanimal.avatar.attached? %>
    <%= cl_image_tag @partyanimal.avatar.key %>
  <% else %>
  <img src= "https://picsum.photos/g/3000/2000" />
  <% end %>
  <div class="card-trip-infos">
    <div>
    <h1><%= @partyanimal.name %> </h1>
    <h3>Age: <%= @partyanimal.age %> </h3>
    <h5>Main Interest: <%= @partyanimal.main_interest %> </h5>
    <h5>Secondary Interest: <%= @partyanimal.secondary_interest %> </h5>
    <p> <%= @partyanimal.description %> </p>
    </div>
    <h2 class="card-trip-pricing"> <%= @partyanimal.price %> EUR </h2>
    <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
  </div>
</div>
<div class='buttons-container'>
<% if user_signed_in? %>
<div class='fancy'>
  <%= link_to "New Booking", new_party_animal_booking_path(@partyanimal), class: "button button-white button-animate" %>
</div>
<%= link_to "Back to Dashboard", dashboard_path(@partyanimal), class: 'btn btn-warning' %>
<%= link_to "Back to Animal Collection", party_animals_path %>
<%= link_to "Edit", edit_party_animal_path(@partyanimal), class: 'btn btn-success' %>
<% end %>
</div>
</div>
    <%#booking = Booking.find_by(user: user, partyanimal: @partyanimal) %>
