<div class='container'>

<div class="card-trip">
  <% if @partyanimal.avatar.attached? %>
    <%= cl_image_tag @partyanimal.avatar.key %>
  <% else %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <% end %>
  <div class="card-trip-infos">
    <div>
    <h1><%= @partyanimal.name %> </h1>
    <h3>Age: <%= @partyanimal.age %> </h3>
    <h5>Main Interest: <%= @partyanimal.main_interest %> </h5>
    <h5>Secondary Interest: <%= @partyanimal.secondary_interest %> </h5>
    <p> <%= @partyanimal.description %> </p>
    </div>
    <h2 class="card-trip-pricing"> <%= @partyanimal.price %> EUR </h2>
    <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
  </div>
</div>

<% if user_signed_in? %>
<%= link_to "New Booking", new_party_animal_booking_path(@partyanimal), class: 'btn btn-primary' %>
<%= link_to "Back to Dashboard", dashboard_path(@partyanimal), class: 'btn btn-warning' %>
<%= link_to "Back to Animal Collection", party_animals_path, class: 'btn btn-success' %>
<% end %>

</div>
    <%#booking = Booking.find_by(user: user, partyanimal: @partyanimal) %>
