
<div class='bookings-grid'>

  <div class='bookings-list'>
    <% @bookings.each do |booking| %>
      <div class='booking-card'>

        <div class='booking-type' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <p><%= booking.party_type %></p>
          <p>Party</p>
        </div>

        <div class='booking-animal'>
          <p><%= link_to booking.party_animal.name, party_animal_path(booking.party_animal) %></p>
        </div>

        <div class='booking-hours'>
          <p><%=((booking.end_time - booking.start_time) / 3600).to_i %> Hours</p>
        </div>

        <div class='booking-address'>
        <p>Address</p>
        <p><%= booking.address %></p>
        </div>

        <div class='booking-price'>
          <p>Total Price: <%= booking.total_price %>€</p>
        </div>

        <div class='booking-actions'>
          <%= link_to booking_path(booking), method: :delete, data: { confirm: "Delete this booking from your dashboard?" } do %>
            <i class="far fa-trash-alt fa-lg"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  
  </div>

  <div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>




